USE [MLanding1]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_Stage3_Silver_To_Gold_Fact]    Script Date: 2026/09/25 16:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ETL_Stage3_Silver_To_Gold_Fact]
    @BatchID UNIQUEIDENTIFIER,
    @RowsWritten INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SumSourceCases BIGINT = 0, 
            @SumTargetCases BIGINT = 0;
            
    BEGIN TRANSACTION;
    BEGIN TRY
            DELETE f
        FROM gold.Fact_Malaria f
        JOIN gold.DimGeography geo ON geo.GeographyKey = f.GeographyKey
        JOIN gold.DimDate d ON d.DateKey = f.DateKey
        WHERE EXISTS (
            SELECT 1
            FROM stage.Stg_Malaria_Permanent stg
            WHERE stg.BatchID = @BatchID
              AND stg.FacilityID = geo.Source_FacilityID
              AND stg.Year = d.Year
              AND stg.Month = d.Month
        );
        -- =========================================================================
        -- 1. TRANSFER VERIFIED RECORDS INTO CONFORMED KIMBALL FACT TABLE
        -- =========================================================================
        INSERT INTO gold.Fact_Malaria (
            BatchID, 
            GeographyKey,
            DateKey, 
            GenderKey, 
            AgeKey, 
            ConfirmedCases,
            TreatedCases, 
            PregnantCases, 
            TotalCases,
            LoadDate
        )
        SELECT
           	@BatchID,
			geo.GeographyKey,
			d.DateKey,
			gen.GenderKey,
			age.AgeKey,
			stg.ConfirmedCases,
			stg.TreatedCases,
			stg.PregnancyCases,
			stg.TotalCasesRecorded,
			GETDATE()
		FROM stage.Stg_Malaria_Permanent stg
		  JOIN gold.DimGeography geo
				ON geo.Source_FacilityID = stg.FacilityID
				AND geo.IsCurrent = 1
		  JOIN gold.DimDate d
				ON d.DateKey = (stg.Year * 10000 + stg.Month * 100 + 1 )
	      JOIN gold.DimAgeGroup age
				ON age.AgeGroup = stg.AgeGroup
		  JOIN gold.DimGender gen
				ON gen.Gender = stg.Gender
				WHERE 
                stg.BatchID = @BatchID AND 
			      stg.Region <> stg.District
        SET @RowsWritten = @@ROWCOUNT;


        -- =========================================================================
        -- 2. RUN MATHEMATICAL BALANCING CHECK (QA RECONCILIATION)
        -- =========================================================================
        
        -- Source sum MUST match target filter conditions to prevent false rollbacks
        SELECT @SumSourceCases = ISNULL(SUM(stg.TotalCasesRecorded), 0) 
        FROM stage.Stg_Malaria_Permanent stg
        JOIN gold.DimGeography geo
				ON geo.Source_FacilityID = stg.FacilityID
				AND geo.IsCurrent = 1
		 JOIN gold.DimDate d
				ON d.DateKey = (stg.Year * 10000 + stg.Month * 100 + 1 )
	      JOIN gold.DimAgeGroup age
				ON age.AgeGroup = stg.AgeGroup
		  JOIN gold.DimGender gen
				ON gen.Gender = stg.Gender
        WHERE BatchID = @BatchID
        AND stg.Region <> stg.District
         SELECT @SumTargetCases = ISNULL(SUM(TotalCases), 0) 
        FROM gold.Fact_Malaria 
        WHERE BatchID = @BatchID;

        -- Write audit history trail into logging metrics table
        INSERT INTO [audit].DataQualityCheckLogs (
            BatchID, TargetTable, MetricName, SourceValue, TargetValue, Variance, CheckResult, ActionTaken
        )
        VALUES (
            @BatchID, 
            'Fact_Malaria', 
            'TotalCases_Run_Reconciliation', 
            @SumSourceCases,
            @SumTargetCases, 
            (@SumSourceCases - @SumTargetCases),
            CASE WHEN (@SumSourceCases - @SumTargetCases) = 0 THEN 'PASS' ELSE 'FAIL' END,
            CASE WHEN (@SumSourceCases - @SumTargetCases) = 0 THEN 'COMMIT_LOAD' ELSE 'FORCE_ROLLBACK' END
        );

        -- Safe Commit Evaluation Block
        IF (@SumSourceCases - @SumTargetCases) = 0
        BEGIN
            COMMIT TRANSACTION;
        END
        ELSE
        BEGIN
            IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
            RAISERROR('Reconciliation Mismatch. Fact metrics vary from clean staging totals.', 16, 1);
        END

    END TRY
    BEGIN CATCH
        -- Ensure engine locks clean up seamlessly on syntax triggers
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;