USE [MLanding1]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_Stage2_Sync_Dimensions]    Script Date: 2026/09/25 20:57:39 ******/
ALTER PROCEDURE [dbo].[SP_ETL_Stage2_Sync_Dimensions]
    @BatchID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Enforce ACID compliance during execution flights
    BEGIN TRANSACTION;
    BEGIN TRY

        -- =========================================================================
        -- 1. Automatic Date Ingestion
        -- =========================================================================
        INSERT INTO gold.DimDate (DateKey, FullDate, [Year], [Quarter], [Month], [MonthName], YearMonth)
        SELECT DISTINCT
            [Year] * 10000 + [Month] * 100 + 1 AS DateKey,
            DATEFROMPARTS(Year, Month, 1) AS FullDate,
            [Year],
            DATEPART(QUARTER, DATEFROMPARTS(Year, Month, 1)) AS Quarter,
            [Month],
            DATENAME(MONTH, DATEFROMPARTS(Year, Month, 1)) AS MonthName,
            CONCAT(Year, '_', RIGHT('0' + CAST(Month AS VARCHAR), 2)) AS YearMonth
        FROM stage.Stg_Malaria_Permanent
        WHERE BatchID = @BatchID
          AND ([Year] * 10000 + [Month] * 100 + 1) NOT IN (SELECT DateKey FROM gold.DimDate);


        -- =========================================================================
        -- 2. Ingestion of Gender Data
        -- =========================================================================
        INSERT INTO gold.DimGender (Gender)
        SELECT DISTINCT Gender 
        FROM stage.Stg_Malaria_Permanent
        WHERE BatchID = @BatchID 
          AND Gender NOT IN (SELECT Gender FROM gold.DimGender);


        -- =========================================================================
        -- 3. Ingestion into AgeGroup 
        -- =========================================================================
        INSERT INTO gold.DimAgeGroup (AgeGroup)
        SELECT DISTINCT AgeGroup
        FROM stage.Stg_Malaria_Permanent
        WHERE BatchID = @BatchID 
          AND AgeGroup IS NOT NULL
          AND AgeGroup NOT IN (SELECT AgeGroup FROM gold.DimAgeGroup);


        -- =========================================================================
        -- 4. Ingestion into DimGeogrpahy(SCD Type 2 Pattern)
        -- =========================================================================
        
        -- STEP A: Close out old rows if the District or Region attributes changed
        UPDATE target 
        SET target.IsCurrent = 0, 
            target.ValidTo = GETDATE()
        FROM gold.DimGeography target
        INNER JOIN stage.Stg_Malaria_Permanent src 
            ON src.FacilityID = target.Source_FacilityID
        WHERE src.BatchID = @BatchID 
          AND target.IsCurrent = 1
          AND (target.DistrictName <> src.District OR target.RegionName <> src.Region);

        -- STEP B: Insert the new active rows (Handles both new facilities and changed history)
        INSERT INTO gold.DimGeography (Source_FacilityID, DistrictName, RegionName, IsCity, ValidFrom, IsCurrent)
        SELECT DISTINCT 
            src.FacilityID, 
            src.District, 
            src.Region,
            CASE WHEN src.District LIKE '%CITY%' THEN 1 ELSE 0 END,
            GETDATE(), 
            1
        FROM stage.Stg_Malaria_Permanent src
        WHERE src.BatchID = @BatchID 
          AND src.FacilityID IS NOT NULL 
          -- Only insert if the facility doesn't exist as active yet
          AND src.FacilityID NOT IN (
              SELECT Source_FacilityID 
              FROM gold.DimGeography 
              WHERE IsCurrent = 1
          );

        -- Commit everything safely if zero engine syntax alerts triggered
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;
